@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

*{
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Jersey 10';
    min-height: 100vh;
    background-color: black;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    gap: 1.5rem;
    padding: 1rem;
    box-sizing: border-box;
}


img, #catButton {
    background: black;
    border: none;
    cursor: pointer;
}

#counter {
    font-size: 52pt;
}

#hps {
    font-size: 33pt;;
}

.shop > button {
    font: inherit;
    color: white;
    border: 3px solid white;
    background-color: black;
    padding: 1em;
    border-radius: 1em;
    padding: 1em;
    font-size: 20pt;

}

.change-animation > button {
    display: none;
    font: inherit;
    color: white;
    border: 3px solid white;
    background-color: black;
    font-size: 20pt;
    margin: 0em 1em 0em 0em;
    padding: 0.5em 1em;
    border-radius: 1em;
}


@media (max-width: 600px) {
    img {
        width: 80%;
        height: auto;
    }

    #counter {
        font-size: 36pt;
    }

    #hps {
        font-size: 24pt;
    }

    .shop > button,
    .change-animation > button {
        font-size: 16pt;
        width: 100%;
        max-width: 320px;
        padding: 0.75em;
    }
}
