@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Jersey 10';
  min-height: 100vh;
  background-color: black;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  padding: 2em 1em;
  gap: 1.5em;
}

/* Teks counter */
#counter {
  font-size: 52pt;
}

#hps {
  font-size: 33pt;
}

#catButton {
  background: black;
  border: none;
  cursor: pointer;
}

img {
  width: 100%;
  max-width: 280px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.shop > button {
  font: inherit;
  color: white;
  border: 3px solid white;
  background-color: black;
  padding: 1em;
  border-radius: 1em;
  font-size: 18pt;
  margin-top: 0.5em;
}

.change-animation > button {
  display: none;
  font: inherit;
  color: white;
  border: 3px solid white;
  background-color: black;
  font-size: 18pt;
  margin: 0.3em;
  padding: 0.5em 1em;
  border-radius: 1em;
}

@media (max-width: 600px) {
  body {
    padding: 1em;
    gap: 1em;
  }

  #counter {
    font-size: 36pt;
  }

  #hps {
    font-size: 24pt;
  }

  img {
    width: 85%;
    max-width: 250px;
  }

  .shop > button,
  .change-animation > button {
    font-size: 16pt;
    width: 100%;
    max-width: 300px;
    padding: 0.75em;
  }
}
